*{
    margin: 0;
    padding:0;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    /* background-color:rgb(222 220 224); */
    

}
.container{
    margin: 10px 20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.leftpart{
    width: 40%;

}
h1{
    color: gold;
    font-size: 80px;
}
h2{
    color:white;
    font-size: 30px;
}
h3{
    text-align: center;
    color: rgb(183, 0, 255);
    font-size: 25px;
}
.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.loginpage{
    display: flex;
    background-color: #fff;
    width: 450px;
    height: 370px;
    box-shadow: -10px -10px 15px rgb(0,0,0,0.1),
    10px 10px 15px rgb(0,0,0,0.1);
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
input{
  
    width: 380px;
    height: 50px;
    margin: 10px ;
    padding:0px 10px;
    outline: none;
    border: 1px solid #ccc;
}
input[type="submit"]{
    background-color: royalblue;
    color: white;
    border-radius: 3px;
}
p{
    color: royalblue;
}
hr{
    border: 1px solid #ccc;
    width: 320px;
    margin :20px 0px;
}
.createaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 3px;
}
span{
 color: #ccc;
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 20px;
}